<?xml version="1.0"?>
<!--
/**
* @category   Webkul
* @package    Test_TestCustomMenu
* @author     Webkul Software Private Limited
* @license    https://store.webkul.com/license.html
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Add Plugin for add custom link in navigation -->
    <type name="Magento\Theme\Block\Html\Topmenu">
        <plugin name="add_menu_item_plugin" type="Test\TestCustomMenu\Plugin\Topmenu" sortOrder="10" disabled="false"/>
    </type>
</config>